# Android / Gradle
*.iml
.gradle
/local.properties
local.properties
/build
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ IDEA
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceStreaming.xml

# System
.DS_Store
Thumbs.db

# Markdown (dokumentacja, plany, changelogi)
*.md
